*{
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Heebo', sans-serif;
}

.main-header .content{
    width:1200px;
    margin: 0 auto;
    padding: 0 30px;
    display:flex;
    height:100%;
    align-items: center;
    justify-content: space-between;
}

header.main-header{
    height:50px;
    background-color:white;
    box-shadow: -1px 0px 5px black;
}


header.main-header nav ul{
    list-style-type:none;
    display: flex;
}

header.main-header nav ul > li{
    font-size:0.9em /* 0.6 * 16*/;
    display:flex;
    align-items: center;
    margin:10px;
}

/*Pseudo Classes*/

/* :hover
:nth-child()
:first-child();
:last-child(); */
/* */
/* header.main-header nav ul > li:first-child{
    margin:0px;
} */


header.main-header nav ul li img{
    margin-right:10px;
}

header.main-header .content .nav-side-container{
    display: flex;
}

header.main-header .content .nav-side-container input{
    width:222px;
    height:40px;
    border:1px solid black;
    color:white;
    background:#cbb2fe url('./images/search.svg') no-repeat  200px ;

}
